.banner {
	width: 100%;
	height: 70vh;
	overflow: hidden;
	background-image: linear-gradient(to bottom, transparent, #bfe8f8);
	position: relative;
}
.banner_image {
	width: 100%;
	height: 50vh;
	object-fit: cover;
}

.banner_card_items {
	position: absolute;
	bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

@media (max-width: 760px) {
	.banner {
		height: 50vh;
	}
	.banner_card_items {
		display: none;
	}
}
